.card {
    width: 100%;
}

.card div {
    color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: clamp(1rem, 1.6vw, 1.75rem);
    text-decoration: none;
    font-weight: bold;
}

/*.card p {*/
/*    font-weight: lighter;*/
/*    letter-spacing: 0.08rem;*/
/*}*/