.foot-wrap {
    width: 100vw;
    height: 120px;
    margin: 0;
    padding: 0;
    background-color: #6A6A6A;
    display: flex;
    justify-content: center;
}

.foot-container {
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: space-between;*/
}

.foot-container p {
    color: #F5F2ED;
    font-family: 'Abhaya Libre', serif;
    font-size: 32px;
    /*font-weight: bold;*/
    letter-spacing: 2px;
    flex-grow: 2;
    align-self: center;
}

.foot-li-wrap {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}