.header {
    width: 100vw;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #6A6A6A;
}

.nav_container {
    width: 83%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nav_container a {
    /*margin-top: 24px;*/
    margin-left: 1vw;
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-size: 28px;
    /*float: left;*/
    flex-grow: 4;
    align-self: center;
}

.nav_container img {
    width: 50px;
    height: 50px;
    align-self: center;
    /*float: left;*/
    /*margin-top: 15px;*/
}