.header {
    width: 100vw;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #6A6A6A;
}

.nav_container {
    width: 83%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo a {
    margin-left: 1vw;
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;
    flex-grow: 4;
    align-self: center;
    text-decoration: none;
}

.nav_logo img {
    width: 50px;
    height: 50px;
    align-self: center;
}

