.container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.mainImage {
    width: 100vw;
    clip-path: polygon(0 0, 100vw 0, 100vw 70vh, 50vw 86vh, 0 70vh);
}

.slg {
    width: 100%;
    position: absolute;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slg h2 {
    width: 50%;
    color: rgb(256,256,256,0.8);
    font-size: 28px;
    text-align: center;
}