.bList-card {
    width: 200px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bList-title {
    padding: 30px;
}

.bList-title h3 {
    margin: 0;
    padding: 0;
    color: #FFFDFD;
    font-family: 'Abhaya Libre', serif;
    font-size: 72px;
}

.bList-title h3::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: #FFFDFD;
    position: absolute;
    margin: 80px -75px;
}


.bList-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}


.bList-item p {
    margin: 0;
    padding: 0;
    color: #FFFDFD;
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    font-size: 32px;
}

