.banner-container {
    width: 100vw;
    height: 600px;
    max-height: 740px;
    margin: 150px 0;
    /*margin-bottom: 300px;*/
    background-image: url('../../../assets/img/banner_background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slogan {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.slogan h2 {
    color: #FFFFFF;
}

.banner-li-container {
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
    /*column-gap: 160px;*/
}