.banner-container {
    width: 100vw;
    height: 740px;
    max-height: 740px;
    margin-bottom: 300px;
    background-image: url('../../../assets/img/banner_background.png');
}

.banner-container .slogan {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.slogan h2 {
    margin-top: 160px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.banner-li-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    column-gap: 160px;
}