.wrap {
    width: 100vw;
    padding-bottom: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.info-container {
    width: 80%;
    /*height: 960px;*/
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.info-background {
    width: 77vw;
    height: 630px;
    background-color: #F5F2ED;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.info-container h2 {
    margin: 100px 0;
    color: #000000;
}

.info-li-container {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    /*column-gap: 160px;*/
}