.App {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

h2 {
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-size: clamp(1.7rem, 2.7vw, 3rem);
    font-weight: bold;
    letter-spacing: 0.2rem;
}

a {
    color: #000000;
    font-family: 'Abhaya Libre', serif;
    font-size: clamp(1rem, 1.6vw, 1.75rem);
    text-decoration: none;
}