.App {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

h2 {
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}